#theGame {
    margin: 100px 0;
    text-align: center;
}

#moves button {
    margin: 0 5px;
}

#playAgainBtn {
    display: none;
}

#scores, #message {
    margin: 10px auto;
    text-align: center;
    max-width: 600px;
}

#scores {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#scores > div {
    border: 2px solid #ccc;
    flex: 200px 1 0;
    font-size: 48px;
}

#scores > div > div:first-child {
    background: #ddd;
    font-size: 32px;
}