html, body {
    background: #97FEED;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    background: #35A29F;
    height: 90px;
    text-align: center;
}

h1 {
    color: #97FEED;
    display: block;
    font-size: 32px;
    margin: 0;
    padding: 25px 0;
}

#container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 90px);
    justify-content: flex-end;
    margin: 0 auto;
    max-width: 600px;
    overflow: hidden;
}

@media only screen and (min-width: 600px) {

    #container {
        max-height: 600px;
    }

}

#message, #scores, #theGame {
    flex: auto 0 1;
}

#theGame {
    padding: 10px 0;
    text-align: center;
}

button {
    background-color: #05373a;
    border: 1px solid #071952;
    border-radius: 15px;
    font-size: 72px;
    margin: 0 5px;
    padding: 10px;
}

#playAgainBtn {
    display: none;
}

#scores, #message {
    text-align: center;
}

#message {
    color: #05373a;
    font-size: 48px;
    margin: auto 0 auto 0;
    padding: 0;
    width: 100%;
}

h2 {
    margin: 0;
}

#scores {
    display: flex;
    flex-wrap: wrap;
    font-weight: bolder;
    gap: 10px;
    margin: 10px auto;
    padding: 0 10px;
    width: calc(100% - 20px);
}

#scores > div {
    flex: 40% 1 0;
    font-size: 48px;
}

#scores > div > div {
    border: 1px solid #0B666A;
    border-radius: 0 0 15px 15px;
    color: #0B666A;
}

#scores > div > div:first-child {
    background: #35A29F;
    border-bottom: 0px;
    border-radius: 15px 15px 0 0;
    color: #97FEED;
    font-size: 32px;
}

#scores #roundsWon {
    border: 0px;
    color: #0B666A;
}